:root {
    --main-color: #e6e9ee;
    --font-color: #191245;
    
}


body {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: white;

}

.content {
    display: flex;
    height: 100vh;
    
    
}

.header {
    background-image: url(images/dim-gunger.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 80vh;
    
    

}
.positioning {
    position: relative;
    top: 43%;
    
    
}

.shadow-box {
    display: flex;
    gap: 20px;
    height: 160px;
    width: auto;
    background-color: rgba(62, 62, 62, 0.4);
    justify-content: center;
    
}

.logo {
    height: 90px;
    width: auto;
    margin-top: 35px;
}

.logo-font {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 4rem;
    margin-top: 35px;
}

.credit {
    color: white;
    font-size: 1rem;
    position: absolute;
    font-family: 'Poppins', sans-serif;
    bottom: 20px;
    left: 20px;
    
}






.main {
    width: 60%;
    height: 100%;
    background-color: var(--main-color);
    
}

.introduction-block {
    display: flex;
    height: 350px;
    align-items: flex-end;
    
    
}

.introduction {
    color: var(--font-color);
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    width: 700px;
    margin-left: 50px;
    margin-bottom: 50px;
    
    
}

.form-block {
    height: 320px;
    background-color: white;
    box-shadow: 1px 3px 8px #888888;
    

}

.form-content {
    display: flex;
    gap: 75px;

}

.form-col {
    display:flex;
    flex-direction: column;
    gap: 20px;
}


.form-cell {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    width: 250px;
}

input {
    border: 1px solid rgb(214, 214, 214);
    border-radius: 3px;
    font-size: 16px;
    height: 30px;
    padding: 10px 10px;
    box-sizing: border-box;
    outline: none;
    color: var(--font-color);
    
    
}

input:focus {
    border: 1px solid #ba48b7;
    
}



input:valid {
    border: 1px solid green;
}

.form-position {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 50px;
    
}

.form-title {
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: var(--font-color);
}





