:root {
    --main-color: #e6e9ee;
    --font-color: #191245;
}


body {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: white;

}

.content {
    display: flex;
    height: 100vh;
    
    
}

.header {
    background-image: url(images/dim-gunger.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 80vh;
    
    

}
.positioning {
    position: relative;
    top: 40%;
    
    
}

.shadow-box {
    display: flex;
    gap: 20px;
    height: 160px;
    width: auto;
    background-color: rgba(62, 62, 62, 0.4);
    justify-content: center;
    
}

.logo {
    height: 90px;
    width: auto;
    margin-top: 35px;
}

.logo-font {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 4rem;
    margin-top: 35px;
}

.credit {
    color: white;
    font-size: 1rem;
    position: absolute;
    font-family: 'Poppins', sans-serif;
    bottom: 20px;
    left: 20px;
    
}

.main {
    width: 60%;
    height: 100%;
    background-color: var(--main-color);
    
}

.introduction-block {
    display: flex;
    height: 350px;
    border: 1px solid red;
    align-items: flex-end;
    
    
}

.introduction {
    color: var(--font-color);
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    width: 700px;
    margin-left: 50px;
    margin-bottom: 50px;
    
    
}

.form-block {
    height: 300px;
    border: 1px solid red;
    background-color: white;

}

.form-content {
    display: flex;

}



.form-cell {
    display: flex;
    flex-direction: column;
}






